<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
    <display-name>code_challenge</display-name>
    <welcome-file-list>
        <welcome-file>calculator.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AdditionServlet</servlet-name>
        <servlet-class>code_package.AdditionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdditionServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MultiplicationServlet</servlet-name>
        <servlet-class>code_package.MultiplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MultiplicationServlet</servlet-name>
        <url-pattern>/multiply</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OperationServlet</servlet-name>
        <servlet-class>code_package.OperationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OperationServlet</servlet-name>
        <url-pattern>/operation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>code_class</servlet-name>
        <servlet-class>code_package.code_class</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>code_class</servlet-name>
        <url-pattern>/code_class</url-pattern>
    </servlet-mapping>

</web-app>
